body{
  background-color: #ecf4fb;
}
.header{
  background-color: #dce2e7;
  .header__item{
    padding: 10px;
  }
  .logo{
    width: 300px;
  }
}

.main{
  background-color: #f9fcff;
  .content{
    min-height: calc(100vh - 121px - 40px);
  }
  .aside__main{
    background-color: #e9e9e9;
    .text-danger{
      padding:  15px 0;
      color: #f9727fed;
    }
    .text-center{
      padding-top:  15px ;
      color: #717171;
    }
    p{
      padding: 20px;
    }
  }
.start__text, .no-items {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  color: #f9727fed;
}
  .d-flex{
    width: 100%;
    height: 100%;
    background-image: url("../img/Medical20201.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
   }
}

.footer{
  background-color: #dce2e7;
  .footer_text{
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
  }
}

.btn-primary-btn {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
outline: none;
}

.form-control, .form-select {
  margin: 7px 0;
}

.text-emty{
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  color: #f9727fed;
}

.header__button{
padding-right: 20px;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

/* The Modal (background) */
.modal-form, .form-edit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContent, .modalContentEdit {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
}

.modal__header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.closeBtn,  .closeBtnEdit{
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  &:focus {
    @extend :hover;
  }
}

.btn-delete   {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 1rem;
  &:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  &:focus {
    @extend :hover;
  }
}

.cardWrapper {
  margin: 10px 0;
  justify-content: space-between;
  align-content: flex-start;
}

.card {
  width: 250px;
  margin: 5px;
  align-self: flex-start;
}

.card-body {
  flex: 0 0 auto;
}

h3 {
  font-size: 1.4rem;
}

.doctor-title {
  padding-bottom: 10px;
}

.hide-btn {
  margin-top: 10px;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.filter {
  //padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e9e9e9;
}

.filter-search, .filter-priority, .filter-status{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter{
  label{
    margin-right: 20px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

  .btn {
    width: 40%;
  }
}